<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="./resources/css/style.css">
</head>
<body>
    
    <div class="login-form">
        <h2>login con node JS</h2>
        <form action="auth" method="POST">
            <input type="text" name="user" id="user" placeholder="user" requerid>
            <input type="password" name="pass" id="pass" placeholder="password" requerid>
            <input type="submit" class="btn-login" value="Login">
            
        </form>
        <a href="register.ejs" class="btn-register">register</a>


    </div>
</body>
</html>